.desktop {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 84px;
}



.main {
  position: relative;
  flex: 0.8;
  border: 1px solid #eee;

}

@media (max-width: 800px) {
  .main{
      flex: 1;
  }




}
