.desktop {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 84px;
  left: 0;
  width: 100%;
}



.main {
  position: relative;
  flex: 0.8;
  border: 1px solid #eee;
  height: 85vh;
  overflow: auto;
  padding-bottom: 3rem;


}

@media (max-width: 800px) {
  .main{
      flex: 1;
  }




}
