.sidebar {
  flex: 0.2;
  overflow: auto;
  border: 1px solid #eee;
  height: 85vh;
  padding-bottom: 3rem;

  /* background-color: #29282a; */

}

.items__top{
  margin-top: 2rem;

}

.items{
    display: flex;
    width: 96%;
    height: 100vh;
    
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    flex-direction: column;
    margin-left: 1rem;
    cursor: pointer;
}

.item{
  padding: 0.5rem;
  width: 100%;
}

.item p{
  margin: 0;
  padding: 0.5rem;

}

.item:hover{
  background-color: rgba(0, 0, 0, 0.9);
  transform: scale(1.1);
  font-weight: bold;
}


.active {
    font-weight: bold;
  }


@media (max-width:800px){
    .sidebar{
        display: none;
    }
  }