.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 1rem;
  width: 96%;
  margin: auto;
}
.name {
  width: 80%;
  margin: auto;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  width: 60%;
  margin: auto;
}


.code__wrapper{
  width: 100%;
}

@media (max-width: 800px) {
  .btn {
    width: 94%;
  }
  
}


@media (max-width: 600px) {
  
  .code__wrapper{
    width: 600px;
  }
}

@media (max-width: 400px) {
  
  .code__wrapper{
    width: 400px;
  }
}

@media (max-width: 300px) {
  
  .code__wrapper{
    width: 300px;
  }
}